name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: "Ruby ${{ matrix.ruby-version }}: ${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "2.6"
          - "2.7"
          - "3.0"
        runs-on:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install system dependencies
        if: |
          runner.os == 'macOS'
        run: |
          brew bundle
      - name: Install system dependencies
        if: |
          runner.os == 'Windows'
        run: |
          ridk exec pacman --sync --noconfirm mingw-w64-x86_64-cairo
      - name: Install dependencies
        run: |
          bundle install
      - name: Test
        run: |
          bundle exec rake
